<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lang.message}">Повідомлення</title>
    <div th:insert="~{res :: resurs}"></div>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/static/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="/static/css/bootstrap-grid.css">-->
    <!--<link rel="stylesheet" href="/static/css/bootstrap-reboot.css">-->
    <!--<script src="/static/css/js/jquery-3.4.1.js"></script>-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"-->
          <!--crossorigin="anonymous">-->

</head>
<body>
<div class="container">
    <div th:insert="~{hed :: heders}"></div>
</div>
<!-- heder -->
<!--<section class="header_sect mt-2">-->
    <!--<div class="container">-->
        <!--<nav class="navbar-expand-lg navbar navbar-dark bg-primary">-->
            <!--<a class="navbar-brand" href="/">Головна</a>-->
            <!--<a class="navbar-brand" href="/advers/lost">Втрачено</a>-->
            <!--<a class="navbar-brand" href="/advers/found">Знайденно</a>-->
            <!--<a class="navbar-brand" href="/advers/add_advers">Додати оголошення</a>-->
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"-->
                    <!--aria-expanded="false" aria-label="Toggle navigation">-->
                <!--<span class="navbar-toggler-icon"></span>-->
            <!--</button>-->
            <!--<div class="collapse navbar-collapse" id="navbarColor02">-->
                <!--<div class="navbar-nav mr-auto"></div>-->
            <!--</div>-->
        <!--</nav>-->
    <!--</div>-->
<!--</section>-->

<div th:if="${adver}">
    <section>
        <div clas="container  mt-10">
            <div class="row "><!-- карточки -->
                <div class="col-10 col-sm-6 col-md-6 m-5" >
                    <div class="card" style="width:auto;">
                        <h4 class="card-title" th:text="#{lang.message}">Повідомлення</h4>
                        <h6>В місті :</h6>
                        <span class="card-title ml-5" style="color:blue " th:text="${adver.getCity().name}"></span>
                        <span class="card-title ml-5" style="color:red " th:text="${adver.getStatus().name}"></span>
                        <span class="card-title ml-5" style="color:red " th:text="${adver.getCategory().name}"></span>
                        <h4 th:text="#{lang.date.announcement}">Дата подачі оголошення</h4>
                        <span class="card-title ml-5" style="color:blue " th:text="${dataSart}"></span><br/>
                        <h4 th:text="#{lang.data}">Дата знахідки</h4>
                        <span class="card-title ml-5" style="color:blue " th:text="${dataStop}"></span><br/>
                        <div class="card-body">
                            <h4 th:text="#{lang.ad.text}">Текст оголошення :</h4>
                            <p class="card-text" th:text="${adver.getTextAdver()}"></p>
                            <div th:if="${photo}" style="width: 50%">
                                <img class="card-img-top"  th:src="@{'/img/'+${photo}}" alt="Card image cap"/></div><br/>
                        </div>
                    </div>
                </div>
            </div><!-- //карточки -->
        </div>
    </section>

</div>
</body>
</html>