<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org"-->
      <!--xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title th:text="#{lang.from}">Title</title>-->
    <!--<div th:insert="~{res :: resurs}"></div>-->

<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
    <!--<div th:insert="~{hed :: heders}"></div>-->
<!--</div>-->

    <!--<section>-->
        <!--<div clas="container  mt-10" >-->
            <!--<div class="row col-12">&lt;!&ndash; карточки &ndash;&gt;-->

                <!--<div class="col-sm-3 col-md-3 p-2 "th:each="mes:${usersFrom}">-->
                    <!--<div class="card" style="width:auto;">-->

                        <!--<h5 class="card-title" th:text="#{lang.message}">Повідомлення</h5>-->
                        <!--&lt;!&ndash;<p> Кому : </p>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="card-title ml-5" style="color:blue " th:text="${mes.getName()}"></span>&ndash;&gt;-->
                        <!--<p th:text="#{lang.ad.text}">Текст повідомлення : </p>-->
                        <!--<span class="card-title ml-5" style="color:red " th:text="${mes.getTextMessage()}"></span>-->
                        <!--<form action="/user/messageUser"  method="post">-->
                            <!--<input hidden="hidden"  th:name="userMess" th:value="${mes.getId()}"/>-->
                            <!--<button class="btn btn-primary" type="submit" th:text="#{lang.btn.delete}">Видалити</button>-->
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->