<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
    <script src="/static/css/js/jquery-3.4.1.js"></script>

</head>
<script type="text/javascript">
    function toggle_show(id) {
         document.getElementById(id).style.display = document.getElementById(id).style.display == 'none' ? 'block' : 'none';
    }
</script>
<body>
<!-- heder -->
<section class="header_sect mt-2">
    <div class="container">
        <nav class="navbar-expand-lg navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Головна</a>
            <a class="navbar-brand" href="/advers/found">Знайдено</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <div class="navbar-nav mr-auto"></div>

            </div>
        </nav>
    </div>
</section>

<div class="container">
<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <div class="container">
                <nav class="navbar-expand-lg navbar ">
                    <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarColor04" aria-controls="navbarColor02"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor04">
                        <div class="navbar-nav mr-auto"></div>
                        <form class="form-inline" action="/advers/lost_city" method="get">
                            <select  class="form-control"  id="testCity" name="testCity" >
                                <option value="">Виберіть місто</option>
                                <option  th:each="city : ${cityList}"
                                         th:value="${city.id}"
                                         th:text="${city.name}">
                                </option>
                            </select>
                            <button class="btn btn-outline-light my-2 my-sm-0 bg-primary" type="submit">Пошук</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-sm-3 col-md-3"  >
            <div class="container">
            <a type="button" class="btn btn-primary mt-2 ml-4" href="/advers/lost">Показати весь список</a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
                <nav class="navbar-expand-lg navbar ">
                    <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarColor05" aria-controls="navbarColor02"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor05">
                        <div class="navbar-nav mr-auto"></div>
                        <form class="form-inline" action="/advers/lost_category" method="get">
                            <select  class="form-control" id="testCategory" name="testCategory">
                                <option value="">Виберіть категорію</option>
                                <option th:each="category : ${categoryList}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                            <button class="btn btn-outline-light my-2 my-sm-0 bg-primary" type="submit">Пошук</button>
                        </form>
                    </div>
                </nav>
        </div>
    </div> <!--row-->
</div><!--container-->
</div>
<!-- Добавить объявление -->
<section class="header_sect mt-2">
    <div class="col-12 mt-10" >
        <div class="row">
            <div class="col-sm-4 col-md-4 col-4 m-2">
            </div>
            <div class="col-sm-6 col-md-6 m-2">
                <a type="button" class="btn btn-danger" href="/advers/add_advers">Повідомити про втрату</a>
            </div>
        </div>
    </div>
</section><!-- //Добавить объявление -->
<div class="container">
<div th:insert="~{page :: pages}"></div>
</div>
<script src="/static/css/js/bootstrap.min.js"></script>

<script src="/static/css/js/main.js"></script>
</body>

</html>

