<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="pages">

    <div th:if="${url}">
<!--<p th:text="${us}"></p>-->
        <section>
            <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${listAdver.getTotalPage()>0}" th:each="pageNumber : ${pageNumbers}">
                    <li class="page-item"><a class="page-link" th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"
                                             th:text=${pageNumber}
                                             th:class="${pageNumber==bookPage.number + 1} ? active"></a></li>

                </ul>
            </nav>
            <div clas="container  mt-10" >
                <div class="row col-12"><!-- карточки -->

                    <div class="col-sm-3 col-md-3 p-2 "th:each="adver:${listAdver}">
                        <div class="card" style="width:auto;">

                            <h5 class="card-title">Увага</h5>
                            <span class="card-title ml-5" style="color:red " th:text="${adver.getDataStart()}"></span>
                            <p> В місті </p>
                            <span class="card-title ml-5" style="color:blue " th:text="${adver.getCity().name}"></span>
                            <p>Було </p>
                            <span class="card-title ml-5" style="color:red " th:text="${adver.getStatus().name}"></span>
                            <span class="card-title ml-5" style="color:blue " th:text="${adver.getCategory().name}"></span>

                            <div class="card-body">

                                <p class="card-text" th:text="${adver.getTextAdver()}"></p>
                                <div th:if="${adver.getPhoto()}"style="width: 150px;height: 150px  ">

                                    <img class="card-img-top"  th:src="@{'/img/'+${adver.getPhoto()}}" alt="Card image cap"/>

                                </div>


                            </div>
                            <div th:if="${us}>1">
                            <form action="/advers/messageDelete"  method="post">
                                <input hidden="hidden"  th:name="messDel" th:value="${adver.getId()}"/>
                                <input hidden="hidden"  th:name="url" th:value="${url}"/>
                                <button class="btn btn-primary" type="submit">Видалити</button>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />


                            </form>
                        </div>
                            <div th:if="${us}>0">
                            <form action="/advers/messageUser"  method="post">
                            <input hidden="hidden"  th:name="user" th:value="${adver.user.getId()}"/>

                            <button class="btn btn-primary" type="submit">Повідомити</button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            </form>
                            </div>
                            <div th:if="${us}==0">
                                <a href="/login" class="btn btn-primary">Залогінитись</a>
                            </div>

                        </div>
                        </div>
                    </div>

                </div><!-- //карточки -->

        </section>
</div>
</div>

</body>
</html>