<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="/static/css/bootstrap.css">-->
    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/css/my.css">
    <script src="/static/css/js/jquery-3.4.1.js"></script>
</head>
<body>

<div th:fragment="pages">
    <div  clas="container " >
    <div class="mt-3">
    <ul class=" pagination">
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Сторінки</a>
        </li>

        <div th:if="${listAdver.getTotalElements()}>0" th:each="i:${#numbers.sequence(1,listAdver.getTotalPages())}">
        <li th:if="${i-1==listAdver.getNumber()}" class="page-item active" >
            <a href="#" th:text="${i}" class="page-link"></a>
        </li>
            <li th:unless="${i-1==listAdver.getNumber()}" class="page-item " >
                <a th:href="@{${url}(page=${i-1})}" th:text="${i}" class="page-link"></a>
            </li>
        </div>

    </ul>
    </div>


        <div class="row col-12" >

        <div th:each="adver:${listAdver}">

            <div class="card m-2" >
                        <div style="overflow: hidden; width: 100%;">
                            <div style="width: 150px; height: 150px; object-fit: cover;">
                                <img   th:src="@{'/img/'+${adver.getPhoto()}}" alt="Card image cap"  />
                            </div>
                         </div>

                        <div class="card-body">
                            <h5 class="card-title">Увага<span class=" ml-5" style="color:red " th:text="${adver.getDataStart()}"></span></h5>
                            <p class="card-text">В місті :<br/>
                             <span class=" ml-1" style="color:blue " th:text="${adver.getCity().name}"></span>
                            </p>
                            <p class="card-text">Було  <span class=" ml-5" style="color:red " th:text="${adver.getStatus().name}"></span></p>
                            <p class="card-text"><span class=" ml-5" style="color:blue " th:text="${adver.getCategory().name}"></span></p>
                            <p>
                                    <button class="btn btn-primary" th:onclick="'javascript:toggle_show(\''+${adver.getId()}+'\');'">
                                        Докладніше
                                    </button>
                                    <div  style=" width: 200px;">
                                    <div th:id="${adver.getId()}" th:text="${adver.getTextAdver()}" style="display:none">
                                    </div>

                                    </div>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="row">

                                <div class="m-1" th:if="${us} !=0">
                                <form action="/advers/messageUser"  method="post">
                                    <input hidden="hidden"  th:name="user" th:value="${adver.user.getId()}"/>
                                    <button class="btn btn-primary" type="submit">Повідомити</button>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </form>
                                </div>

                                <div class="m-1" th:if="${us}==2">
                                <form action="/advers/adversDelete"  method="post">
                                <input hidden="hidden"  th:name="messDel" th:value="${adver.getId()}"/>
                                <input hidden="hidden"  th:name="url" th:value="${url}"/>
                                <button class="btn btn-primary" type="submit">Видалити</button>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </form>
                                </div>
                             </div>
                            <div th:if="${us}==0">
                            <a href="/login" class="btn btn-primary">Залогінитись</a>
                            </div>
                        </div>
            </div>
        </div>
        </div>

    </div>

</div>

</body>
</html>