
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >

<head>

    <title>Spring Security Example </title>
    <div th:insert="~{res :: resurs}"></div>

</head>
<body>



<div class="container col-lg-8 col-sm-12 col-md-12 p-5">

    <form th:action="@{/registration}" th:object="${user}" method="post" >
        <div clas="col-lg-3 col-sm-3 col-md-3">
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <div class="row">
                <div class="col-2" th:text="#{lang.your.name}">Ваше имя : </div>
                <div class="col-10"><input type="text" th:field="*{name}" /></div>
            </div>
        </div>

        <div  clas="col-lg-3 col-sm-3 col-md-3">
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Name Error</div>
            <div class="row">
                <div class="col-2" th:text="#{lang.your.password}">Ваш пароль :</div>
                <div class="col-10"><input type="password" th:field="*{password}"/></div>
            </div>
        </div>
        <div  clas="col-lg-3 col-sm-3 col-md-3 " >

            <div clas="col-lg-3 col-sm-3 col-md-3">
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Name Error</div>
                <div class="row">
                    <div class="col-2" th:text="#{lang.your.email}"> Ваш email :</div>
                    <div class="col-10"><input type="text"  th:field="*{email}" /></div>
                </div>
            </div>
            <div clas="col-lg-3 col-sm-3 col-md-3">

                <div class="row">
                    <div class="col-2" th:text="#{lang.your.phone}">Ваш телефон :</div>
                    <div class="col-10"><input type="text"  name="phone" /></div>
                </div>
            </div>

            <div clas="col-lg-3 col-sm-3 col-md-3">
                <button  type="submit" th:text="#{lang.registration}"/>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
    </form>
</div>

</body>
</html>