<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lang.btn.send}">Title</title>
    <div th:insert="~{res :: resurs}"></div>

</head>
<body>
<!-- heder -->
<div class="container">
    <div th:insert="~{hed :: heders}"></div>
</div>

<section class="header_sect mt-2">

    <div>
        <p th:text="#{lang.your.message}"> Ваше повідомленя відправленно користувачю </p>
        <p th:text="${userTo}"></p>
        <p th:text="#{lang.your.message.text}"> Текст повідомлення :</p>
        <p th:text="${userMessage}"></p>
    </div>
</section>
</body>
</html>