<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Категорії</title>
     <!--&lt;!&ndash;версия для разработки, включает отображение полезных предупреждений в консоли&ndash;&gt;-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>-->
    <!--&lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

    <!--&lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->

    <!--&lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
</head>
<body>

<div class="container">
    <div class="row">
        <h3>Категорії</h3>
        <a href="/test/category">AAAA</a>
        <!--<div th:each="ct:${list}">-->
            <!--<p th:text="${ct.id}"></p><span th:text="${ct.name}"></span>-->

        <!--</div>-->
    </div>
</div>



</body>
</html>